:root {
    --links-purple-color: #8181fc;
    --links-blue-color: #008acf;
    --text-color: #06004e;
    --green-color: #38f99cff;
    --section-padding: 60px;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: var(--text-color);
}

p {
    line-height: 33px;
}

a {
    font-weight: 500 !important;
    text-decoration: none;
    color: var(--links-blue-color);
}

.main-heading h5 {
    font-size: 20px;
}

.main-heading h4 {
    font-size: 30px;
}

/* Start Navbar */
.navbar {
    background-color: white;
}

@media (max-width: 991px) {
    .navbar .navbar-nav .nav-link {
        font-size: 30px;
    }

    .navbar .offcanvas-header {
        padding: 30px;
    }

    .navbar .offcanvas-header .btn-close {
        font-size: 20px;
    }

    .navbar .offcanvas-body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.navbar .navbar-nav .nav-link {
    color: var(--text-color) !important;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover {
    color: var(--links-purple-color) !important;
}

/* End Navbar */

/* Start Landing */
.landing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    overflow: hidden;
    background-color: white;
}

.landing .text-content {
    animation-name: fadeInLeft;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.landing .text-content h1 {
    font-size: 60px;
    line-height: 72px;
}

.landing .text-content p {
    margin: 25px 0 40px;
}

.landing .img-content {
    width: 515px;
    height: 508px;
}

.landing .img-content .layer {
    max-width: 100%;
}

.landing .img-content .layer img {
    max-width: 100%;
    animation-name: fadeInRight;
    animation-fill-mode: both;
}

.landing .img-content .layer:first-child img {
    animation-delay: 1s;
    animation-duration: 1s;
}

.landing .img-content .layer:nth-child(2) img {
    animation-delay: 2s;
    animation-duration: 0.5s;
}

.landing .img-content .layer:last-child img {
    animation-delay: 1.5s;
    animation-duration: 0.5s;
}

.landing .img-content .layer:nth-child(2) img {
    width: 195px;
    height: 425px;
    border-radius: 20px;
    transition-delay: 1s;
}

@media (max-width: 580px) {
    .landing .img-content {
        width: 400px;
        height: 395px;
    }
    .landing .img-content .layer:nth-child(2) img {
        width: 155px;
        height: 332px;
    }
}

@media (max-width: 415px) {
    .landing .img-content {
        width: 300px;
        height: 296px;
    }
    .landing .img-content .layer:nth-child(2) img {
        width: 114px;
        height: 247px;
        border-radius: 12px;
    }
}
/* End Landing */

/* Start Rating */
section.rating {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--green-color);
}

section.rating h4 {
    line-height: 36px;
    font-size: 30px;
    margin-bottom: 28px;
}

section.rating .box span:first-child {
    font-size: 60px;
}
/* End Rating */

/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: white;
}

.features .main-heading {
    margin-bottom: 75px;
    opacity: 0;
}

.features .main-heading.showed {
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.features .feature {
    opacity: 0;
}

.features .feature.showed:first-child {
    animation-name: fadeInLeft;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.features .feature.showed:nth-child(2) {
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-fill-mode: both;
}

.features .feature.showed:last-child {
    animation-name: fadeInRight;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.features .feature h5 {
    font-size: 22px;
}

.features .feature .feature-icon {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 0px rgba(44, 55, 58, 0.1);
}

.features .feature .feature-icon img {
    width: 50px;
}
/* End Features */

/* Start Advertising */
.advertising {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: white;
    overflow: hidden;
}

.advertising .img-container {
    height: 580px;
}

.advertising .img-container .layer:last-child {
    height: 100%;
}

.advertising .img-container .layer:first-child img.showed {
    animation-name: fadeInLeft;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.advertising .img-container .layer:last-child img.showed {
    animation-name: fadeInLeft;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
}

.advertising .img-container .layer img {
    max-height: 100%;
}

.advertising .text-content.showed {
    animation-name: fadeInRight;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.advertising .text-content h2 {
    font-size: 50px;
    margin-bottom: 2rem;
}

.advertising .text-content .download-btns {
    margin-top: 2rem;
}
/* End Advertising */

/* Animations */

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
